$toolbar-height: 72px;
$navigator-width: 300px;
$asset-summary-width: 348px;
$marker-detail-sidebar: 348px;
$footer-height: 24px;

$text-blue: #0072CE;
$dark-blue: #002D72;
$wave-pink: #955196;
$plant-green: #003F5C;
$pump-blue: #444E86;