@import "../../../../../sass/variables";

.footer {
    .spacer {
        flex: 1;
    }
    display: flex;
    align-items: center;
    background: #212121;
    color: white;
    margin: 0em;
    font-size: 10px;
    padding: 0.2em 1.5em;
    height: $footer-height;
    box-sizing: border-box;
}